body{
    background-color: #b10d88;
}
/* Barra de navegação */

.navbar {
   background-color: #01080e; /* Cor de fundo da Barra de navegação */
   
}


.btn-dark{
    background-color: #000000; /* Cor de fundo do botão pesquisar */
}

 .btn-secondary {
    background-color: #000000; /* Cor de fundo do botão entrar ou cadastrar */
}

#logo {
    width: 80px; /* Tamanho do logotipo */
}

#link{
    color: rgb(255, 255, 255); /* muda a cor dos liks da barra de navegação categoria*/
}


/* Slider */
.carousel-item {
    background-color: #000000;
    width: 1080px;
    Height:300px;

}

footer{
    background-color: #000000;/* Cor de fundo do botão rodapé*/
}



/* configuração para fotos de vendas*/

/* team */
.card-title {
    font-size: 14px;
}

.card-text {
    font-size: 12px;
}

/* apply */
#apply-area .apply-box {
    padding: 50px 25px;
}

.card-img-responsiva{
    width: 300;
    Height:250px;
}



/* Login*/
.login-form{
    padding: 60px 30px;
    background-color: rgba(0, 0, 0, .9);
    margin-top: 50vh;
    transform: translateY(-50%);
    color: white;
}

.login-form h1{
    margin: 0 0 5px;
}

.login-form h2{
    margin: 0 0 30px;
    font-size: 1em;
}

.modal .fade .bd-example-modal-lg{
    min-height: 50vh;
    background-color: #CCC;
    background-image: url('https://unsplash.it/g/1500/800');
}